.container-person{
    border:1px solid rgba(219, 216, 216, 0.997);
    color: rgba(0, 0, 0, 0.63);
    padding: 0.3rem;
    font-size: 2rem;
    padding-top: 0rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0.3rem 0 0 6rem;
    display:block;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding-bottom: 1rem;
    width: 60.3rem;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
    overflow:hidden;
    transition: width 0.3s 0.3s ease-in-out;
}

.header-person{
    width: 60.3rem;
    border-bottom:1px solid rgba(219, 216, 216, 0.997);
}

.header-person img{
    display: inline;
    margin-left: 15rem;
    width: 10rem;
}
.header-person h5{
    display: inline;
    position: relative;
    bottom: 4rem;
}

.sect-person{
    padding: 1.3rem;
    padding-top: 0;
}

.button-person{
    padding: 0.5rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.37);
    border-radius: 6px;
    margin: 0.3rem 0.3rem;
}

.button-person:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
    margin: 0.2rem 0.2rem;
    zoom: 104%;
}

.sect-person h3{
    margin: 0.3rem 0.5rem;
}

.div-queso-person{
    padding: 1rem;
}

.div-queso-person h4{
    margin: 0.3rem 0.3rem;
}

.selected{
    border: 2px solid rgb(68, 68, 128);
    color: rgb(68, 68, 128);
}

