.container-product-cart{
    margin: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.179);
    padding: 0.3rem;
    border-radius: 5px;
}

.cantidad-product-cart{
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.desc-product-cart{
    margin-left: 0.3rem;
    display: inline;
}

.ingredients-product-cart{
    width: 20.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

.ingredients-product-cart h4{
    margin: 0.6rem;
}

.ingredients-product-cart p{
    margin: 0rem;
    margin-left: 2rem;
}

.price-product-cart{
    display: flex;
    align-items: center;
    width: 20.4rem;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
    padding: 0 0 0 0;
}

.trash-product-cart{
    color: rgba(0, 0, 0, 0.627);
}

.trash-product-cart:hover{
    margin-left: -0.05rem;
    zoom: 104%;
    cursor: pointer;
    color: rgba(51, 1, 1, 0.644);
}

.price-product-cart h3{
    position: relative;
    left: 15rem;
    margin: 0.3rem;
    display: inline;
}